@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,800;1,800&display=swap');

body { 
    background-color: #30332E;
    font-family: "Jost";
    margin: 0;
    height: 100%;
    margin: 0;
}

.heading-menu {
    overflow: hidden;
    background-color: #89937C;
    padding: 20px 10px;
    text-align: center;
}

.footer-down {
    overflow: hidden;
    background-color: #151614;
    margin-top: 20px;
    padding: 30px 20px;
    color: white;
}

.footer-down a {
    line-height: 25px;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 10px;
    margin-top: 0; /* take available whitespace */
    margin-bottom: -10px;      /* remove bottom whitespace */
    height: 100px;  
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-down a:hover {
    background-color: #838a7d;
    color: black;
}

.heading-menu a {
    line-height: 25px;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 10px;
}

.heading-menu a:hover {
    background-color: #A9BF97;
    color: black;
}

.main-p-h h1 {
    font-family: "JetBrains Mono";
    font-size: 30px;
    color: white;
}

.main-p-h p {
    color: white;
    padding: 21px;
}

.specialp {
    margin-top: 20px;
    margin-bottom: -10px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.main-p-h button {
    border-radius: 10px;
    display: inline-block;
    color: #2b4f0d;
    font-size: 16px;
    padding: 10px 27px;
    font-family: "Jost";
    cursor: pointer;
}

.main-p-h button:hover {
    background-color: #A9BF97;
    color: black;
    font-family: "Jost";
}

.fitted-p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.specialh {
    margin-bottom: 30px;
}

.specialh_alt {
    margin-bottom: -21px;
}

.videoandimg {
    display: flex;
    margin: auto;
    width: 50%;
    position: relative;
    right: 50px;
    margin-bottom: -24px;
}

.main-p-h a {
    text-decoration: underline;
    color: white;
}

.main-p-h {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    
}

input[type="text"],
input[type="email"],
textarea {
    width: 650px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}

button {
    width: 650px;
    padding: 10px;
    background-color: #316729;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Space between cards */
    margin: 20px;
}

.card {
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    background-color: #fff; /* Optional: To distinguish cards from the background */
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card .description {
    padding: 15px;
}