.hero {
    height: 55vh; /* Full height of the viewport */
    background: url('imgs/Screenshot\ 2024-08-25\ at\ 9.26.41\ AM.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding-top: 40px;
    padding-left: 30px;
}

body {
    background: #e5e9f5;
}

#typewriter {
    font-size: clamp(1.2rem, 2.5vw, 2rem); /* Responsive font size */
    font-weight: bold;
    white-space: normal; /* Allows text wrapping */
    overflow-wrap: break-word; /* Ensures long words break onto the next line */
    display: inline-block;
    vertical-align: bottom;
    border-right: 0.15em solid rgb(255, 255, 255);
    animation: blink-caret 0.75s step-end infinite;
    max-width: 100%; /* Ensure it doesn't overflow the container */
    line-height: 1.4; /* Adjust line height for better readability */
    text-align: left; /* Align text to the left */
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.us {
    height: 100vh;
    text-align: center;
}

.us h1 {
    padding-top: 30px;
}

.cardcontainer {
    padding-top: 20px;
}

.mission {
    text-align: left;
    background: rgb(188,192,205);
    background: linear-gradient(90deg, rgba(188,192,205,1) 0%, rgba(70,84,163,1) 100%);
    color: white;
    padding-top: 40px;
    padding-left: 20px;
}

.workshopssection {
    text-align: left;
    color: white;
    padding-top: 40px;
    padding-left: 20px;
}